Repository dalisoft/release-me: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdown

lefthook.yml:

prepare-commit-msg:
  commands:
    commitlint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: commitlint --edit

pre-commit:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: biome check {staged_files} --write
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.md"
      run: dprint fmt {staged_files}
    typos:
      env:
        PATH: $PATH:./node_modules/.bin
      exclude: "bun.lockb|package-lock.json|yarn.lock|pnpm-lock.yaml"
      run: typos {staged_files}

pre-push:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: biome check {all_files}
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.md"
      run: dprint check {all_files}
    typos:
      env:
        PATH: $PATH:./node_modules/.bin
      exclude: "bun.lockb|package-lock.json|yarn.lock|pnpm-lock.yaml"
      run: typos {all_files}
    ls-lint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: ls-lint

chore(configurations): update
  .commitlintrc.yaml
  .ls-lint.yml
  _typos.toml
Due: none

chore(configurations): update
  plugins/plugin-template.sh
  spec/cli/no_git_spec.sh
  src/pages/index.js
  tests/cli/no-git.test.sh
  tests/plugins/template.test.sh
Due: biome

docs(website): update references
  .commitlintrc.yaml
  docusaurus.config.cjs
  sidebars.js
Due: biome

chore(deps-dev): upgrade
  .commitlintrc.yaml
  package.json
Due: biome

chore(ci): update deploy script
  .github/workflows/deploy-docs.yml
Due: none

docs(website): build fix
  src/pages/ROADMAP.md
Due: markdown

docs(website): typo fix
  src/pages/ROADMAP.md
Due: markdown

fix(plugins/npm-post): improve early-exit block remove
  plugins/npm-post.sh
Due: none

chore(tests): add ssh signing (passwordless)
  tests/ssh-sign/git-ssh-sign.test.sh
  tests/ssh-sign/sign
  tests/ssh-sign/sign.pub
Due: none

chore(tests): ssh permissions change
  tests/ssh-sign/git-ssh-sign.test.sh
Due: none

chore: update `package.json` version to v0.9.3
  package.json
Due: biome

docs(website): update sidebar and add new page
  docs/BENCHMARK.md
  docs/COVERAGE.md
  docs/GET_STARTED.md
  docs/TESTING.md
Due: markdown

docs(website): update plugins description
  docs/PLUGINS.md
Due: markdown

docs(website): fix shared page url
  docusaurus.config.cjs
Due: none

feat(core): add `--use-version` option
  docs/USAGE.md
  release.sh
Due: markdown

fix(core): add `--use-version` option bug-fix
  release.sh
Due: none

chore: update `package.json` version to v0.10.0
  package.json
Due: biome

fix(core): use correct `release name or title`
  release.sh
Due: none

chore: update `package.json` version to v0.10.1
  package.json
Due: biome

chore(ci): gh actions update
  .github/dependabot.yml
  .github/workflows/automerge.yml
Due: none

fix(plugins/git): don't trigger hook on commit or push
  plugins/git.sh
Due: none

fix(plugins/npm-post): don't trigger hook on commit or push
  plugins/npm-post.sh
Due: none

chore: update `package.json` version to v0.10.2
  package.json
Due: biome

chore(ci): disable `docker` temporarily
  .github/workflows/release.yml
Due: none

fix(core): fix naming convention for release-title
  release.sh
Due: none

chore: update `package.json` version to v0.10.3
  package.json
Due: biome

docs(website): update
  docs/INSTALLATION.md
Due: markdown

docs(website): add more useful information
  docs/USAGE.md
  docs/features/GPG_SIGN.md
  docs/features/RUST.md
  docs/features/WORKSPACE.md
Due: markdown

docs(website): update information
  docs/GET_STARTED.md
  docs/PLUGINS.md
Due: markdown

fix(core): change license to permissive Apache-2.0
  LICENSE
  README.md
  docs/GET_STARTED.md
  package.json
Due: biome, markdown

chore: update `package.json` version to v0.10.4
  package.json
Due: biome

chore(prettiers): update biome
  biome.json
Due: biome

chore(deps-dev): update
  package.json
Due: biome

docs(website): add quickstart
  docs/GET_STARTED.md
Due: markdown

fix(plugins/docker): move logic to official CI workflow
  plugins/docker.sh
Due: none

chore(ci): update workflow and commitlint
  .commitlintrc.yaml
  .github/workflows/release.yml
Due: none

chore: update `package.json` version to v0.10.5
  package.json
Due: biome

chore(ci): add `docker` push
  .github/workflows/release.yml
Due: none

chore: update `package.json` version to v0.10.6
  package.json
Due: biome
