Repository dalisoft/release-me: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdown

biome:
  env:
    PATH: $PATH:./node_modules/.bin
  run: biome check {staged_files} --write

markdown:
  env:
    PATH: $PATH:./node_modules/.bin
  run: dprint fmt {staged_files}

fix(plugins/git): fix typo variable change
  plugins/git.sh
Due: none

chore(ci): update `package.json` version to v0.11.4
  package.json
Due: biome

fix(plugins/npm-post): fixes and optimize plugin for CI actions
  plugins/npm-post.sh
Due: none

fix(plugins/git): fixes and optimize plugin for CI actions
  plugins/git.sh
Due: none

chore(tests): improve `base64` command
  tests/ssh-sign/git-ssh-sign.test.sh
Due: none

fix(plugins/npm-post): unset bug fix
  plugins/npm-post.sh
Due: none

fix(plugins/git): unset bug fix
  plugins/git.sh
Due: none

fix(plugins/git): `ssh-add` confusion fix for cleanup
  plugins/git.sh
Due: none

fix(plugins/npm-post): `ssh-add` confusion fix for cleanup
  plugins/npm-post.sh
Due: none

chore(ci): update `package.json` version to v0.11.5
  package.json
Due: biome

fix(plugins/npm-post): loose cleanup process
  plugins/npm-post.sh
Due: none

fix(plugins/git): loose cleanup process
  plugins/git.sh
Due: none

chore(ci): update `package.json` version to v0.11.6
  package.json
Due: biome

fix(plugins/npm-post): now it skips and reduce CI costs
  plugins/npm-post.sh
Due: none

docs(website): update roadmap
  src/pages/ROADMAP.md
Due: markdown

chore(ci): update `package.json` version to v0.11.7 [skip ci]
  package.json
Due: biome

docs(website): update docs
  docs/INSTALLATION.md
  docs/features/SSH_SIGN.md
Due: markdown

fix(plugins/npm): add experimental `--provenance` as publish
  plugins/npm.sh
Due: none

chore(ci): update `package.json` version to v0.11.8 [skip ci]
  package.json
Due: biome

docs(website): updates and fixes
  docusaurus.config.cjs
  src/css/custom.css
  static/img/bug-report.svg
  static/img/github.svg
  static/img/stack-overflow.svg
  static/img/www.svg
Due: none

docs(website): add more option for search
  docusaurus.config.cjs
Due: none

docs(website): update algolia
  docusaurus.config.cjs
Due: none

docs(website): enable insights
  docusaurus.config.cjs
Due: none

docs(website): disable `contextualSearch`
  docusaurus.config.cjs
Due: none

docs(website): update indexname
  docusaurus.config.cjs
Due: none

fix(plugins/git): github workflow re-trigger hack
  plugins/git.sh
Due: none

fix(plugins/npm-post): github workflow re-trigger hack
  plugins/npm-post.sh
Due: none

chore(deps-dev): upgrade dev-dependenvies
  .nvmrc
  package.json
Due: biome

chore(ci): update `package.json` version to v0.11.9 [skip ci]
  package.json
Due: biome

docs(website): update plugins page
  .vscode/settings.json
  README.md
  docs/CONFIGURATION.md
  docs/GET_STARTED.md
  docs/PLUGINS.md
  docs/USAGE.md
  docs/plugins/_category_.json
  docs/plugins/changelogs.md
  docs/plugins/docker.md
  docs/plugins/git.md
  docs/plugins/github-release.md
  docs/plugins/npm-post.md
  docs/plugins/npm.md
Due: biome, markdown

fix(core): improve naming
  package.json
  release.sh
Due: biome

docs(website): update namings
  docs/plugins/CHANGELOGS.md
  docs/plugins/DOCKER.md
  docs/plugins/GIT.md
  docs/plugins/GITHUB_RELEASE.md
  docs/plugins/NPM.md
  docs/plugins/NPM_POST.md
Due: markdown

chore(ci): update `package.json` version to v0.11.10 [skip ci]
  package.json
Due: biome

docs(website): update `plugins` meta
  docs/plugins/_category_.json
Due: biome

docs(website): typo fixes
  docs/USAGE.md
Due: markdown

docs(website): improvements
  docs/features/GPG_SIGN.md
  docs/features/SSH_SIGN.md
  docs/features/WORKSPACE.md
Due: markdown

chore(ci): remove `typos` from hook as it failed
  lefthook.yml
  package.json
Due: biome

docs(website): update `npm` installation method
  docs/INSTALLATION.md
Due: markdown

chore(deps-dev): update dev-deps
  package.json
Due: biome

fix(core): fix attempt for `bunx` support and `bin`
  package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  markdown: any of: *.md
