Repository dalisoft/release-me: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdown

lefthook.yml:

prepare-commit-msg:
  commands:
    commitlint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: commitlint --edit

pre-commit:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: biome check {staged_files} --write
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.md"
      run: dprint fmt {staged_files}

pre-push:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: biome check {all_files}
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.md"
      run: dprint check {all_files}
    ls-lint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: ls-lint

chore(ci): update `package.json` version to v0.11.11 [skip ci]
  package.json
Due: biome

fix(core): fix `bin` typo for `npm`
  package.json
Due: biome

chore(ci): update `package.json` version to v0.11.12 [skip ci]
  package.json
Due: biome

chore(tests): improve tests, add test-cases
  tests/presets/conventional-commits.test.sh
  tests/presets/workspace.nodejs.test.sh
Due: none

fix(core): indention fix
  release.sh
Due: none

docs(website): add gitsponsors
  README.md
Due: markdown

docs(website): revert a scam
  README.md
Due: markdown

fix(presets/conventional-commits): detect breaking footer anywhere in body
  presets/conventional-commits.sh
Due: none

fix(presets/workspace): detect breaking footer anywhere in body
  presets/workspace.sh
Due: none

fix(core): accumulate multiline commit bodies for parsing
  release.sh
Due: none

fix(tests): run workspace edge case under workspace preset
  tests/presets/workspace.nodejs.test.sh
Due: none

refactor(core): compact multiline body accumulation
  release.sh
Due: none

chore(tests): cover breaking footer between content and footer
  tests/presets/conventional-commits.test.sh
Due: none

chore(tests): cover workspace breaking footer with trailing content
  tests/presets/workspace.nodejs.test.sh
Due: none

chore(deps): upgrade dependencies
  .ls-lint.yml
  biome.json
  package.json
Due: biome

chore(website): fixes and improvements
  src/css/custom.css
  src/pages/index.js
Due: biome

chore(configurations): add AI management
  .agents/rules/agent-init.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: markdown

chore(deps-dev): upgrade Gemfile and coverage
  .simplecov
  Gemfile.lock
Due: none

fix(core): keep full tag name when parsing last tag for scoped packages
  release.sh
  tests/presets/workspace.nodejs-scoped.test.sh
Due: none

ci: auto-approve maintainer PRs with LGTM workflow
  .github/workflows/lgtm.yml
Due: none

ci: use the workflow token for the Release checkout and GitHub auth
  .github/workflows/release.yml
Due: none

ci: migrate runner labels to ubuntu-latest and macos-latest
  .github/workflows/automerge.yml
  .github/workflows/lint_test.yml
  .github/workflows/release.yml
Due: none

chore(deps-dev): upgrade deps
  biome.json
  package.json
Due: biome

feat(plugins/npm): publish via trusted publishing without token
  plugins/npm.sh
Due: none

chore(tests): cover publish without npm token
  tests/plugins/npm-post.test.sh
  tests/plugins/npm.test.sh
Due: none

feat(plugins/npm-post): accept trusted publishing like npm plugin
  plugins/npm-post.sh
Due: none

build(ci): run Release on Node 24
  .github/workflows/release.yml
Due: none

build(ci): drop NPM_TOKEN from Release workflow
  .github/workflows/release.yml
Due: none

fix(plugins/npm): OIDC env-less support
  .github/workflows/lgtm.yml
  plugins/npm.sh
Due: none

fix(plugins/npm-post): run without npm token like npm plugin
  plugins/npm-post.sh
Due: none

style(plugins/npm): fix indentation after gate removal
  plugins/npm.sh
Due: none

chore(tests): remove no token tests as plugins always run
  tests/plugins/npm-post.test.sh
  tests/plugins/npm.test.sh
Due: none

docs(website): npm token optional with trusted publishing
  docs/plugins/NPM.md
  docs/plugins/NPM_POST.md
Due: markdown

fix(ci): skip scripts on docs bun install
  .github/workflows/deploy-docs.yml
Due: none

fix(ci): log npm publish at verbose level
  .github/workflows/release.yml
Due: none
