Repository dalisoft/release-me: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdown

lefthook.yml:

prepare-commit-msg:
  commands:
    commitlint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: commitlint --edit

pre-commit:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: biome check {staged_files} --write
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.md"
      run: dprint fmt {staged_files}
    typos:
      env:
        PATH: $PATH:./node_modules/.bin
      exclude: "bun.lockb|package-lock.json|yarn.lock|pnpm-lock.yaml"
      run: typos {staged_files}

pre-push:
  parallel: true
  commands:
    biome:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: biome check {all_files}
    markdown:
      env:
        PATH: $PATH:./node_modules/.bin
      glob: "*.md"
      run: dprint check {all_files}
    typos:
      env:
        PATH: $PATH:./node_modules/.bin
      exclude: "bun.lockb|package-lock.json|yarn.lock|pnpm-lock.yaml"
      run: typos {all_files}
    ls-lint:
      env:
        PATH: $PATH:./node_modules/.bin
      run: ls-lint

fix(plugins/docker): fix regression added in two releases
  plugins/docker.sh
Due: none

chore: update `package.json` version to v0.10.7
  package.json
Due: biome

fix(plugins/docker): try originally push without `latest`
  plugins/docker.sh
Due: none

chore: update `package.json` version to v0.10.8
  package.json
Due: biome

fix(plugins/docker): use proper tagging
  plugins/docker.sh
Due: none

chore: update `package.json` version to v0.10.9
  package.json
Due: biome

fix(plugins/npm-post): fix commit change
  plugins/npm-post.sh
Due: none

chore(ci): update `package.json` version to v0.10.10
  package.json
Due: biome

chore(ci): revert package version
  package.json
Due: biome

chore(ci): update `package.json` version to v0.10.11
  package.json
Due: biome

fix(plugins/docker): use optimized syntax for `docker` build
  plugins/docker.sh
Due: none

chore(ci): update `package.json` version to v0.10.12
  package.json
Due: biome

docs(website): update roadmap and known bug
  docs/COVERAGE.md
  src/pages/ROADMAP.md
Due: markdown

docs(website): set roadmap realistic goal
  src/pages/ROADMAP.md
Due: markdown

feat(plugins/git): add SSH Signing key support
  plugins/git.sh
Due: none

feat(plugins/npm-post): add SSH Signing key support
  plugins/npm-post.sh
Due: none

docs(website): add SSH Signing key support
  docs/CONFIGURATION.md
  docs/features/GPG_SIGN.md
  docs/features/RUST.md
  docs/features/SSH_SIGN.md
  docs/features/WORKSPACE.md
Due: markdown

fix(plugins/git): typo fix for command
  plugins/git.sh
Due: none

fix(plugins/git): typo fix for inner commands
  plugins/git.sh
Due: none

fix(plugins/npm-post): typo fix for inner commands
  plugins/npm-post.sh
Due: none

chore(tests): `ssh sign` test improvement
  tests/ssh-sign/git-ssh-sign.test.sh
Due: none

fix(plugins/git): fix undefined variables
  plugins/git.sh
Due: none

fix(plugins/npm-post): fix undefined variables
  plugins/npm-post.sh
Due: none

fix(plugins/npm-post): start ssh-agent on any remote
  plugins/npm-post.sh
Due: none

fix(plugins/git): start ssh-agent on any remote
  plugins/git.sh
Due: none

chore(ci): don't install `wget`
  .github/workflows/lint_test.yml
Due: none

chore(ci): update `package.json` version to v0.11.0
  package.json
Due: biome

chore(ci): update `package.json` version to v0.11.1
  package.json
Due: biome

chore(ci): use proper secrets
  .github/workflows/release.yml
Due: none

fix(plugins/npm-post): fix `invalid` params
  plugins/npm-post.sh
Due: none

chore(ci): update `package.json` version to v0.11.2
  package.json
Due: biome

fix(plugins/git): fix typo fix and order of execution
  plugins/git.sh
  tests/ssh-sign/git-ssh-sign.test.sh
Due: none

chore(ci): update `package.json` version to v0.11.3
  package.json
Due: biome

fix(plugins/git): on GitHub it could be already saved
  plugins/git.sh
Due: none

fix(plugins/npm-post): on GitHub it could be already saved
  plugins/npm-post.sh
Due: none

fix(plugins/npm-post): fix typo variable change
  plugins/npm-post.sh
Due: none
