Repository dalisoft/release-me: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markdown

biome:
  env:
    PATH: $PATH:./node_modules/.bin
  run: biome check {staged_files} --write

markdown:
  env:
    PATH: $PATH:./node_modules/.bin
  run: dprint fmt {staged_files}

fix(core): anchor workspace last-tag lookup to package prefix
  release.sh
Due: none

chore(tests): cover workspace tag lookup edge shapes
  tests/presets/workspace.tag-parsing.test.sh
Due: none

feat(plugins/npm-post): deliver version bump via pull request
  docs/plugins/NPM_POST.md
  plugins/npm-post.sh
Due: markdown

fix(core): guard git pull against tag pruning configs
  plugins/git.sh
  plugins/npm-post.sh
Due: none

fix(core): never create merge commits on git pull
  plugins/git.sh
  plugins/npm-post.sh
Due: none

fix(core): use portable fetch config and tolerate stale release tag
  plugins/git.sh
  plugins/npm-post.sh
Due: none

style(core): remove added comments
  plugins/git.sh
  plugins/npm-post.sh
Due: none

fix(ci): harden dependabot auto-merge workflow
  .github/workflows/automerge.yml
Due: none

fix(ci): replace automerge with scheduled dependabot scan
  .github/workflows/automerge.yml
Due: none

fix(ci): queue overlapping pages deployments
  .github/workflows/deploy-docs.yml
Due: none

fix(ci): serialize release runs to avoid npm publish races
  .github/workflows/release.yml
Due: none

fix(ci): drop install input removed in setup-buildx-action v4
  .github/workflows/release.yml
Due: none

style(website): rename blog files to satisfy ls-lint rule
  blog/2019-05-28-FIRST-BLOG-POST.md
  blog/2019-05-29-LONG-BLOG-POST.md
  blog/2021-08-26-welcome/INDEX.md
Due: markdown

fix(ci): prevent concurrent Pages deploys and Release runs (#89)
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  blog/2019-05-28-FIRST-BLOG-POST.md
  blog/2019-05-29-LONG-BLOG-POST.md
  blog/2021-08-26-welcome/INDEX.md
Due: markdown

ci: dependabot automerge via workflow_run
  .github/workflows/automerge.yml
Due: none

fix(plugins/npm): skip publish when version already published
  plugins/npm.sh
Due: none

chore(tests): cover already-published npm skip path
  tests/plugins/npm.test.sh
Due: none

fix(plugins/git): rebase and autostash the pre-push git pull
  plugins/git.sh
Due: none

fix(plugins/npm-post): rebase and autostash the fallback pull
  plugins/npm-post.sh
Due: none

chore(tests): cover divergent remote before tag push
  tests/plugins/git.test.sh
Due: none

fix(plugins): rebase and autostash the pre-push git pull (#75)
  plugins/git.sh
  plugins/npm-post.sh
  tests/plugins/git.test.sh
Due: none

chore(tests): teach npm fakes about the registry probe
  tests/plugins/npm-post.test.sh
  tests/presets/workspace.nodejs-scoped.test.sh
  tests/presets/workspace.nodejs.test.sh
Due: none

fix(plugins/npm-post): stop adding Signed-off-by trailer
  plugins/npm-post.sh
Due: none

chore(tests): assert no Signed-off-by trailer
  tests/plugins/npm-post.test.sh
Due: none

fix(plugins/npm-post): stop adding Signed-off-by trailer to release commits (#74)
  plugins/npm-post.sh
  tests/plugins/npm-post.test.sh
Due: none

chore(tests): cover issue 47 verbatim shapes
  tests/presets/conventional-commits.test.sh
Due: none

chore(tests): cover issue 47 verbatim shapes (#91)
  tests/presets/conventional-commits.test.sh
Due: none

chore(ci): update `package.json` version to v0.12.1 [skip ci]
  package.json
Due: biome

chore(website): bump version to 0.12.0
  package.json
Due: biome

chore(tests): guard docs consistency
  tests/docs/consistency.test.sh
Due: none

docs(website): cover all CLI options and workspace tag rules
  .gitignore
  docs/USAGE.md
  docs/features/WORKSPACE.md
  docs/plugins/CHANGELOG.md
Due: markdown

fix(ci): add `pull-requests: write` permission on `release`
  .github/workflows/release.yml
Due: none

docs(configurations): improve example config
  docs/CONFIGURATION.md
Due: markdown

chore(core): bump version
  package.json
Due: biome

chore(ci): update `package.json` version to v0.12.2 [skip ci]
  package.json
Due: biome

fix(plugins/npm-post): use `git` + `gh` merge combo
  plugins/npm-post.sh
Due: none

fix(plugins/npm-post): use simplified `BASE_BRANCH` env
  .github/workflows/release.yml
  docs/CONFIGURATION.md
  plugins/npm-post.sh
Due: markdown

chore(ci): update `package.json` version to v0.12.3 [skip ci]
  package.json
Due: biome

build(ci): push the release bump with a GitHub App token
  .github/workflows/release.yml
Due: none

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  markdown: any of: *.md
